.CFUserTextEncoding
.android/
.bash_history
.bash_sessions/
.conda/
.config/
.docker/
.gnupg/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.npm/
.nvm/
.oh-my-zsh/
.op/
.password-store/
.ssh/
.terraform.d/
.viminfo
.zsh_history
.zcompdump*
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dev/
