.CFUserTextEncoding
.android/
.bash_history
.bash_sessions/
.conda/
.config/
.ipython/
.jupyter/
.nvm/
.op/
.ssh/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dev/