
[user]
    name = Yves Bonjour
    email = yves.bonjour@rethinc.ch

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[alias]
	s = status
	c = commit
	a = add
	d = diff
	p = pull

[pull]
	rebase = true
